<div class="center hero-unit">
  <h1>This page is still under construction!</h1>

  <h2>
    Be excited about what is going to happen here!
  </h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

